@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<table id="tweets" class="table">
    <thead>
        <tr>
            <th>
                Tweet Id
            </th>
            <th>
                Date Stamp
            </th>
            <th>
                Tweet Text
            </th>
        </tr>
    </thead>
    <tbody id="tweetBody"></tbody>
</table>

<script>
    $(document).ready(function () {
        $.get("/api/TweeterIO/GetTweetes", { startDateStr: "2016-01-01T00:00:00.00Z", endDateStr: "2018-01-01T00:00:00.00Z" })
            .done(function (tweetList) {
                var strResult = "";
                $.each(tweetList, function (tweetsIndex, tweets) {
                    $.each(tweets, function (tweetIndex, tweet) {
                        strResult += "<tr><td>" + tweet.id + "</td><td> " + tweet.stamp + "</td><td>" + tweet.text + "</td></tr>";
                    });
                });
                strResult += "";
                $("#tweetBody").html(strResult);
            });
    });
</script>